@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root{
    --MarromEscuro:#8B4513;
    --Bege:#F5F5DC;
    --VerdeOliva:#6B8E23;
    --TerraCota:#E2725B;;
    --MarromChocolate:#D2691E;
    --CinzaArdosia:#708090;
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

#cabecalhoprincipal{
    background-color: var(--VerdeOliva);
    height: 20%;
    width: 100%;

}


footer{
    background-color: var(--VerdeOliva);
    height: 20%;
    
}